.mainCont{
    width: 70%;
    margin: auto;
    margin-bottom: 100px;
}

.heading{
   
    height: 50px;
    width: 100%;
    border-bottom: 0.5px solid black;
}
.InputBoxes{
    width: 100%;
    margin-top: 10px;
    display: flex;
    
    padding-bottom: 20px;
    border-bottom: 0.5px solid black;
}
.labels{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    
}
.labels>div{
    height: 35px;
}

.inputs{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}
.inputs>div>input{

    border-radius: 3px;
    height: 30px;
    border:0.5px solid silver;
    padding-left: 10px;
   
}

.inputs>div:nth-child(1)>input,.inputs>div:nth-child(2)>input,.inputs>div:nth-child(3)>input{
    width: 39%;  
  border:0.5px solid silver;
  
}
.inputs>div:nth-child(4){
    display: flex;
    gap: 1.3%;
}
.inputs>div:nth-child(4)>input{
    width: 39%;  
    border:0.5px solid silver;
    
  }

.inputs>div>textarea{
    width: 85%;
    height: 70px;
    border:0.5px solid silver;
}

.projectypesBox{
    margin-top: 10px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 0.5px solid black;
    display: flex;
}
.projectLeft{
    width: 20%;
}

.projectRight{
    width: 60%;
    
}
.projectButtons>button{
    border-radius: 5px 5px 0px 0px;
    height: 40px;
    width: 200px;
    border: 0.2px solid silver;
    background: none;
    border-bottom: none;
}
.projectButtons>button:focus{
    background-color: #f37510;
    color: white;
    outline: none;
    border: none;
}
.projectButtons>button:focus>div{
    position: relative;
    left: 70px;
    top:30px;
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #f4f4f4;
    
}

.projectButtons{
    display: flex;
    justify-content: space-between;
}

.ProjectTypeCategory{
   padding-top: 10px;
    width: 100%;
    height: 200px;
    background-color: #f4f4f4;
    border-radius:0px 0px 5px 5px ;
    /* border-radius: 10px; */
    /* border-bottom:0.2px solid silver; */
  
}
.ProjectTypeCategoryChild{
    margin-top: 30px;
    margin-left: 20px;
    height: 90%;
    display: flex;
    flex-direction: column;
    
    gap: 20%;
   
}
.ProjectTypeCategoryChild>div{
    display: flex;

   
}
.ProjectTypeCategoryChild>div>div>input{
    height: 30px;
    border: 1px solid silver;
    border-radius: 5px;
    text-align: center;
}
.ProjectTypeCategoryChild>div>div:nth-child(1){
    width: 40%;
}

.ProjectTaskHeading{
    margin-top: 20px;
    padding-left: 20px;
    height: 50px;
    width: 98.3%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #f4f4f4;
    display: flex;
    gap: 80%;
}
.ProjectTaskHeading>div>p{
    margin-top: 5px;
    font-size: 10px;
    line-height: 2;
}
.projectTasks{
   
    padding-top: 10px;
    width: 100%;
    height: 200px; 

    display: flex;
    flex-direction: column;
    gap: 10px;
}


.projectTasks>div{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.taskwidth{
    padding-left: 2%;
    /* background-color: red; */
    width: 70%;
}
.myCheckbox{
    
   width: 15%;
    /* background-color: black; */
}
.Buttons{
    margin-top:10px;
    display:flex;
    gap:4px;
}



.Buttons>button:nth-child(1){
        background-color:green;
        height:40px;
        color:white;
        width:150px;
        border:1px solid silver;
        background: linear-gradient(#14a000,#1a8d08);
        font-weight: 500;
        border-radius: 3px;
    }
    .Buttons>button:nth-child(2){
        height:40px;
        width:100px;
        border:1px solid silver;
        background: linear-gradient(#f0f0f0,#d3d3d3);
        font-weight: 500;
        border-radius: 3px;
    }
    .Buttons>button:focus{
        outline:none;
        
    }
    .Buttons>button:hover{
        background:#f37510;
        color:white;
        
    }

   