.front_section{
    height: 100vh;
    background-image: linear-gradient(to top, #F14853 0%,#F26314  100%);
    text-align: center;
    color: white;
}
.front_section > div> hr{
    margin: 0px;
    padding: 0px;
    color: black;
}
.front_div{
    width: 80%;
    margin: auto;
}
.title > h1{
    font-size: 50px;
    margin: 5px;
}
.title > h2{
    font-size: 30px;
    width: 70%;
    margin: auto;
    font-weight: 500;
}
.title> h3{
    font-size: 16px;
    margin: 0px;
    color: rgb(220, 220, 220);
}
.title_img{
    margin: 40px;

}
.title_img > img{
    border-radius: 10px;
    box-shadow: 2px 2px;
}