.front_section{
   
    background-image: linear-gradient(to top, #F14853 40%,#F26314  100%);
    text-align: center;
    color: white;
}
.front_section > div> hr{
    margin: 0px;
    padding: 0px;
    color: black;
}
.front_div{
    border-top: 1px solid rgba(0, 0, 0, 0.151);
    width: 80%;
    margin: auto;
}
.title > h1{
    font-size: 50px;
    margin: 5px;
}
.title > h2{
    font-size: 27px;
    width: 70%;
    margin: auto;
    font-weight: 500;
}
.title> h3{
    font-size: 16px;
    margin: 0px;
    color: rgb(220, 220, 220);
}
.title_img{
    margin: 40px;

}
.title_img > img{
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.268);
}

/* Companies section  */
.companies{
    width: 80%;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
    margin-bottom: 50px;
}
.companies> img{
height: 70px;
margin: 0px 10px;
}
.companies > h3{
    text-align: center;
    color: gray;
}
.companies > h3 > span{
    color: #F26314;
}

/* feature */

.feature{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
.feature > h2{
    color: #F26314;
    margin: 0px;
}
.feature > h1{
    font-size: 40px;
    margin: 5px;
}
.feature > h3{
    margin: 0px;
    width: 70%;
    color: gray;
    margin: auto;
    font-weight: 400;
}
/* feature card */

.feature_card{
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
    
}
.card{
    width:220px;
height:280px;
border-radius:10px;
background-color: #3D9DC1;
color: white;
padding: 5px;
margin: 0px 20px ;
cursor: pointer;
}
.card:hover{
    box-shadow: 2px 2px 5px 2px black;

}

.feature_icon{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #317E9A;
    margin: auto;
    margin-top: 20px;
}
.feature_icon > i{
    position: relative;
    top: 16px;

}
.card > h4{
    font-weight: 500;
    margin: 0px;
}
.card>h3{
    margin: 7px;
}
.learn{
    border: 2px solid  #317E9A ;
    padding: 5px;
    width: 130px;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;

 
}
.learn > span{
    margin: 0px;
    position: relative;
    bottom: 5px;
    font-weight: 600;
}